# dependencies
/node_modules
/.tools

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
Thumbs.db
*.pem
*.log

# env
.env*.local

# editors
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts
